<div>
  <cdk-virtual-scroll-viewport itemSize="100" class="example-viewport" [ngStyle]="{'height': getContentHeight() + 'px'}" (scroll)="scrollDetected(virtualScroll)">
    <div class="row m-0 p-0" *ngIf="!isSmallerWindow" [@thingsappear]>
      <div class="col m-0 p-0 text-center mx-auto">
        <img class="portrait" src="https://imgbbb.com/images/2020/06/03/IMG-380.jpg">
      </div>
      <div class="col-8 m-0 p-0">
        <div class="cont">
          <p>{{ firstMessage }}</p>
          <p>{{ secondMessage }}</p>
          <p>{{ thirddMessage }}</p>
          <div class="text-center" *ngIf="!isLoaded">
            <ng-container *ngFor="let image of technologyImg">
              <img class="technimg" [src]="image.url" [title]="image.hint" style="filter: grayscale(100%)">
            </ng-container>
          </div>
            <div class="text-center" *ngIf="isLoaded" [@entertechn]="technologyImg.length">
              <ng-container *ngFor="let image of technologyImg">
                <img class="technimg" [src]="image.url" [title]="image.hint">
              </ng-container>
            </div>
            <p>{{ fourthMessage }}</p>
            <p>{{ fifthMessage }}</p>
          <div class="btn-group mb-2">
            <button class="btn btn-primary bigbutton" (click)="onShowEducation()">{{ showEducation ? 'Hide Education' : 'Show Education'}}</button>
            <button class="btn btn-success bigbutton" (click)="onShowExperience()">{{ showExperience ? 'Hide Experience' : 'Show Experience'}}</button>
            <button class="btn btn-warning bigbutton" (click)="onShowOther()">{{ showOther ? 'Hide Other' : 'Show Other'}}</button>
          </div>
          <app-timeline [show]="'education'" *ngIf="showEducation"></app-timeline>
          <app-timeline [show]="'experience'" *ngIf="showExperience"></app-timeline>
          <app-timeline [show]="'other'" *ngIf="showOther"></app-timeline>
        </div>
      </div>
    </div>
    <div class="row m-0 p-0" *ngIf="isSmallerWindow" [@thingsappear]>
      <div class="col m-0 p-0">
        <div class="cont">
          <p>{{ firstMessage }}</p>
          <p>{{ secondMessage }}</p>
          <p>{{ thirddMessage }}</p>

          <div class="text-center" *ngIf="!isLoaded">
            <ng-container *ngFor="let image of technologyImg">
              <img class="technimg" [src]="image.url" [title]="image.hint" style="filter: grayscale(100%)">
            </ng-container>
          </div>
            <div class="text-center" *ngIf="isLoaded" [@entertechn]="technologyImg.length">
              <ng-container *ngFor="let image of technologyImg">
                <img class="technimg" [src]="image.url" [title]="image.hint">
              </ng-container>
            </div>
            <p>{{ fourthMessage }}</p>
            <p>{{ fifthMessage }}</p>
          <div class="btn-group mb-2">
            <button class="btn btn-primary" (click)="onShowEducation()" [ngStyle]="{'width': isSmallestWindow ? '30%' : '105px'}">{{ showEducation ? 'Hide Edu.' : 'Show Edu.'}}</button>
            <button class="btn btn-success" (click)="onShowExperience()" [ngStyle]="{'width': isSmallestWindow ? '30%' : '105px'}">{{ showExperience ? 'Hide Exp.' : 'Show Exp.'}}</button>
            <button class="btn btn-warning" (click)="onShowOther()" [ngStyle]="{'width': isSmallestWindow ? '30%' : '105px'}">{{ showOther ? 'Hide Other' : 'Show Other'}}</button>
          </div>
          <app-timeline [show]="'education'" *ngIf="showEducation"></app-timeline>
          <app-timeline [show]="'experience'" *ngIf="showExperience"></app-timeline>
          <app-timeline [show]="'other'" *ngIf="showOther"></app-timeline>
        </div>
      </div>
    </div>
    <div class="topbtn" (click)="scrollTop(virtualScroll)" *ngIf="isScrolled" [@thingsappear]>
      <fa-icon [icon]="upIcon" size="3x"></fa-icon>
    </div>
  </cdk-virtual-scroll-viewport>
</div>

