$backnaturelake: 'https://i.pinimg.com/originals/31/68/c0/3168c09eeeb529be5b321575fe56b02b.gif'
$backgold: 'https://thumbs.gfycat.com/FarflungScaredCub-size_restricted.gif'
$backgoldsnow: 'https://data.whicdn.com/images/248702272/original.gif'
$backrain: 'https://data.whicdn.com/images/299148720/original.gif'
$backcampfire: 'https://media1.tenor.com/images/9291c39717e37e37592309984bf57049/tenor.gif?itemid=3579327'

$backImg: $backgold

.background
  position: relative
  top: 0%
  left: 0%
  z-index: 0
  background: url($backImg) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  overflow: hidden
  width: auto
  height: 100vh
  color: white
  text-shadow: 0px 0px 5px black

.loadingBar
  border: 1px solid darkgoldenrod
  float: left

.loading-container
  width: 100%
  position: absolute
  top: 80%
  left: 50%
  transform: translate(-50%,-50%)
  color: white
  text-shadow: 0px 0px 5px black

