<div style="text-align: right;" [@thingsappear]>
  <div class="icon" (click)="onClickIcon('facebook')" [@icons]="isSmallerIcon">
    <fa-icon [icon]="facebookIcon" size="2x" ></fa-icon>
  </div>
  <div class="icon" (click)="onClickIcon('linkedIn')" [@icons]="isSmallerIcon">
    <fa-icon [icon]="linkedInIcon" size="2x"></fa-icon>
  </div>
  <div class="icon" (click)="onClickIcon('google')" [@icons]="isSmallerIcon">
    <fa-icon [icon]="googleIcon" size="2x"></fa-icon>
  </div>
  <div class="separator"></div>
</div>
