<div [id]="carouselRowName" class="row m-0 p-0" >
  <div class="col m-0 p-0 mx-auto my-auto text-center">
    <fa-icon [icon]="leftIcon" size="3x" (click)="goBack()" style="color: white"></fa-icon>
  </div>
  <div class="col-6 m-0 p-0">
    <ng-container *ngFor="let image of slides[page]">
      <img [id]="carouselImgName" [src]="image" [@image]="animationSite">
    </ng-container>
  </div>
  <div class="col m-0 p-0 mx-auto my-auto text-center">
    <fa-icon [icon]="rightIcon" size="3x" (click)="goForward()" style="color: white"></fa-icon>
  </div>
</div>
